.topnav {
    padding: 30px 70px 30px 30px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--topnav-height);
}

.topnav_search {
    position: relative;
    height: 50px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.topnav_search > input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
}

.icon {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
}

.dropdown_toggle {
    margin-left: 10px;
    width: 30px;
    background: var(--second-bg);
}

.topnav_right {
    display: flex;
}

.spanUser {
    position: absolute;
    margin-top: 8px;
    font-weight: 600;
    font-size: 1rem;
}

.spanBell {
    position: absolute;
    background-color: var(--main-color);
    font: 10px;
    color: white;
    padding: 5px;
    border-radius: 100%;
    margin: -10px;
}

.notifications {
    position: absolute;
    margin-top: 40px;
    margin-left: -20px;
}

.notification_json {
    z-index: 99;
    background-color: white;
    width: 300px;
    padding: 20px 25px 8px 25px;
    position: absolute;
    margin-left: -100px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.notification_json_item {
    padding: 0 0 23px 0;
}

.topnav_right_item {
    margin-left: 40px;
}